/* Font-Family-Style */
.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}
.full-section{
    max-width: 1140px;
    margin: 0 auto;
    color: #F5F8FF;
}

/* Nav style */
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 120px;
}
.nav-section a{
text-decoration: none;
margin-right: 20px;
}
.home{
    font-size: 16px;
    font-weight: bold;
    color: #252432; 
}
.transfarent{
    font-size: 16px;
    color: #8987a1;
}
.cart{
    color: #000000;
}

/* head-section-style */
.head-section{
display: flex;
align-items: center;
}
.title-one{
    color:#000000;
    font-size: 65px;
    font-weight: bold;
}
.title-tomato{
    color: #E95A08;
    font-size: 65px;
    font-weight: bold;
}
.top-title{
    margin-bottom: 15px;
}
.top-sub-title{
    color: rgba(0, 0, 0, 0.5);
    font-size: 23px;
}

/* cart-section-style */

.plants-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 120PX;
    margin-bottom: 120px;
}

.cart-section{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 20px 25px;
}
.our {
color: #E95A08;
font-size: 50px;
font-weight: bold;
margin-right: 5px;
}
.Plants{
    color: #000000;
    font-size: 50px;
    font-weight: bold;
}
.plants-title{
    margin-bottom: 16px;
}

.plants-sub-title{
    color:rgba(0, 0, 0, 0.5);
    font-size: 22px;
    padding: 0 80px;
    margin-bottom: 50px;
}
.cart-title{
    margin: 25px 0 10px 0;
    color: #111111;
    font-size: 22px;
    font-weight: 500;
}
.cart-sub-title{
    color: #111111;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}
.cart-btn{
    background-color: #E95A08;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    width: 270px;
    height: 50px;
    padding: 15px 50px;
}

/* flower-plants style */

.flower-plants{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
}

.flower-store{
    width: auto;
    height: auto;
}
.badge{
    width: 286px;
    width: 286px;
    position: relative;
    margin-bottom: -160px;
    margin-left: 400px;
}
.shop-detalis{
  justify-content: center;
  align-items: center;
  
}
.shop-detalis h3{
    color: #000000;
    font-size: 50px;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 20px;
    margin-left: -20px;
}
.shop-detalis li{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    padding: 10px 0;
}

/* mail-input style */
.mail-section{
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    margin-top: 120px;
}

.input-detalis {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.join{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 700;
    margin-top: 200px;
    margin-bottom: 35px;
}
.email{
    padding: 11px 45px;
    font-size: 18px;
    width: 500px;
    height: 25px;
    border: none;
}
.button{
    padding: 16px 45px;
    border: none;
    background-color: #E95A08;
    color: #FFFFFF;
    margin-left: -3.8px;
}
/* footer style */
footer{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}
.footer-title{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    margin-top: 8px;
}
.footer-contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.footer-contact-link a{
    text-decoration: none;
       color: #6B7280;
}
.footer-contact-link li {
    list-style: none;
    margin-bottom: 20px;
    margin-right: 20px;
}
.footer-icon img{
    margin-right: 20px;
}
.icon-twitter{
    height: 30px;
}

/* media qurie small-device style */

@media screen and (max-width: 600px) {
    .nav-section{
        padding: 0 20px;
         align-items: center;
    }
    .nav-section .home, .transfarent{
        visibility: hidden;
    }

    .cart{
        font-size: 25px;
        color: #252432;
    }
    
    .head-section{
        flex-direction: column-reverse;
        gap: 30px;
    }

    .header-title{
        padding: 20px 30px;
        margin-bottom: 65px;
    }
    .plants-detailes{
        align-items: center;
    }
    .cart-section{
        grid-template-columns: repeat(2, 1fr);
        padding: 0 15px;
    }
    .shop{
        margin-top: -150px;
        align-items: center;
    }
    .flower-plants{
        flex-direction: column;
     
    }
    .flower-plants li {
        font-size: 16px;
    padding: 10px 25px;
    }
    .flower-plants h3{
        padding-left: 45px;
        font-size: 30px;
    }
    .badge{
        visibility: hidden;
    }

}